<template name="entertainment">
  <div class="">

    <div class="sub-4-left">
      <button class="btn btn-default sub-4-button">Watch TV</button>
    </div>

    <div class="sub-4-right">
      <button class="btn btn-default sub-4-button">Listen to Music</button>
    </div>

    <div class="sub-4-left">
      <button class="btn btn-default sub-4-button">Hear a Book</button>
    </div>

    <div class="sub-4-right">
      <button class="btn btn-default sub-4-button">Play a Game</button>
    </div> 

    <p><a href="{{pathFor 'home'}}" role="button" class="back-arrow"><i class="fa fa-arrow-circle-left"></i></a></p>   
  </div>
</template>