<template name="home">

  <div class="container">
    <div class="masthead">
      <h3 class="text-muted">GLIMMER of hope</h3>
      <ul class="nav nav-justified">
        <li class="active"><a href="{{pathFor 'home'}}">Home</a></li>
        <!-- <li><a href="{{pathFor 'home'}}">Home</a></li> -->
        <li><a href="#">Make a call</a></li>
        <li><a href="#">Add questions</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="jumbotron">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offest-1 col-xs-12">
          <h1 class="h1-home">What question would you like to ask?</h1>
          <p>
            <a class="btn btn-lg btn-success btn-question-type" href="#" role="button">Yes / No question</a>
            <a class="btn btn-lg btn-success btn-question-type" href="#" role="button">Yes / No question</a>
          </p>
          <p>
            <a class="btn btn-lg btn-success btn-question-type" href="#" role="button">Yes / No question</a>
            <a class="btn btn-lg btn-success btn-question-type" href="#" role="button">Yes / No question</a>
          </p>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>&copy; Glimmer 2014</p>
    </div>
  </div>

</template>
