<template name="action">
  <div class="">

    <div class="sub-4-left">
      <button class="btn btn-default sub-4-button">Eat / Drink</button>
    </div>

    <div class="sub-4-right">
      <button class="btn btn-default sub-4-button">Change Location</button>
    </div>

    <div class="sub-4-left">
      <button class="btn btn-default sub-4-button">Change Activity</button>
    </div>

    <div class="sub-4-right">
      <button class="btn btn-default sub-4-button">Go to Sleep</button>
    </div>    

    <p><a href="{{pathFor 'home'}}" role="button" class="back-arrow"><i class="fa fa-arrow-circle-left"></i></a></p>
  </div>
</template>