<template name="feeling">
  <div class="">

    <div class="sub-4-left">
      <button class="btn btn-default sub-4-button">Happy</button>
    </div>

    <div class="sub-4-right">
      <button class="btn btn-default sub-4-button">Comfortable</button>
    </div>

    <div class="sub-4-left">
      <button class="btn btn-default sub-4-button">Not Happy</button>
    </div>

    <div class="sub-4-right">
      <button class="btn btn-default sub-4-button">Not Comfortable</button>
    </div>    

    <p><a href="{{pathFor 'home'}}" role="button" class="back-arrow"><i class="fa fa-arrow-circle-left"></i></a></p>
  </div>
</template>