<template name="yesno">
  <form>
    <div class="form-group">
      <label for="question" class="sr-only">Question asked</label>
      <input id="question" class="form-control question-field" name="question" placeholder="">
    </div>
  </form>

  <div class="">

    <div class="sub-2-left">
      
      <button class="btn btn-default sub-2-button">Yes</button>
    </div>
    <div class="sub-2-right">
      
      <button class="btn btn-default sub-2-button">No</button>
    </div>

    <p><a href="{{pathFor 'home'}}" role="button" class="back-arrow"><i class="fa fa-arrow-circle-left"></i></a></p>
  </div>
</template>